#cart-view {
    width: 90%;
    margin: 0 auto;
}

#cart-left-container{
width: 60%;
}

#cart-container {
border: 1px solid #d3d3d3;
padding: 20px 20px 10px 20px;
}

#cart-container h5{
    color: #e16e03;
}

#cart-container p {
    font-size: 1rem;
    color: #747474;
}

#cart-container a {
    color: #747474;
    font-weight: bold;
}

#cart-container a:hover {
    color: #595959;
    font-weight: bold;
}

.cart-item-img-shop {
    width: 120px;
    margin-right: 1em;
}

.cart-item-img-shop img {
    max-width: 100%;
}

.cart-item-img-shop p {
    font-size: .7rem;
    font-weight: bold;
}

.cart-item-img-shop a {
    font-size: .7rem;
    font-weight: bold;
    color: #747474;
}

.cart-items-info {
    width: 80%;
}

#cart-right-summary {
    width: 320px;
}

.cart-items-info select {
    width: 10em;
    height: 2.5;
    font-size: .8rem;
}

.cart-item-icons a {
 text-decoration: none;
 color: #323232;
 margin-right: .8em;
}

.containerButtons .paypal{
    background-color: #eeeeee;
    border: 1px solid #dfdfdf;
}

.accordion {
    border: none;
}

.accordionButton {
    border-radius: 25px;
    background-color: #eeeeee;
    border: 1px solid #dfdfdf;
    padding: 10px 20px;
    margin-left: 1em;
}

.favourites {
    font-size: 1rem;
}

.favourites a {
    color: #7c7c7c;
}

@media screen and (max-width: 768px) {
    #cart-right-summary {
        width: 200px;
    }

    .cart-items-info {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }
    .cart-item-price {
        width: 100%;
        text-align: right;
        font-weight: bold;
        margin-top: 0.5em;
        padding: .3em 1em .3em 0;
        background-color: #f5f5f5;
    }
}

@media screen and (max-width: 480px) {
    
    .wrapper {
        margin: 2em;
    }
    #cart-view {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: .5rem;
    }

    #cart-container {
        margin-top: 29em;
        border: none;
    }


    #cart-left-container{
        width: 100%;
    }

    #cart-right-summary {
        width: 100%;
    }

    .cart-item-price {
        background-color: #ffffff;
    }

    .containerButtons {
        margin: 0 auto;
        padding: 0;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
    }

    #paypal {
        margin-bottom: 0;
    }
}
