aside {
    color: #2f2e2e;
    text-align: start;
}

@media screen and (max-width: 768px) {
    h4 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    aside {
        display: none;
        width: 0;
    }
}