<footer>
    <ul id="colonna1">
        <li><h6><a routerLink="/construction">GIFT CARD</a></h6></li>
        <li><h6><a routerLink="/construction">TROVA UN NEGOZIO</a></h6></li>
        <li><h6><a routerLink="/construction">LABAIR MAGAZINE</a></h6></li>
        <li><h6><a routerLink="/construction">DIVENTA MEMBRO</a></h6></li>
        <li><h6><a routerLink="/construction">CODICI PROMOZIONALI</a></h6></li>
        <li><h6><a routerLink="/construction">DICONO DI NOI</a></h6></li>
    </ul>
    <ul id="colonna2">
        <h6>ASSISTENZA</h6>
        <li><a routerLink="/construction">Hai bisogno di aiuto?</a></li>
        <li><a routerLink="/construction">Stato ordine</a></li>
        <li><a routerLink="/construction">Spedizione e consegna</a></li>
        <li><a routerLink="/construction">Resi</a></li>
        <li><a routerLink="/construction">Opzioni di pagamento</a></li>
        <li><a routerLink="/construction">Contattaci</a></li>
    </ul>
    <ul id="colonna3">
        <li>
            <h6>AZIENDA</h6>
        </li>
        <li><a routerLink="/construction">Informazioni su Nike</a></li>
        <li><a routerLink="/construction">News</a></li>
        <li><a routerLink="/construction">Lavora con noi</a></li>
        <li><a routerLink="/construction">Investitori</a></li>
        <li><a routerLink="/construction">Sostenibilità</a></li>
        <li><a routerLink="/construction">Obiettivo</a></li>
    </ul>
    <ul id="colonna4">
        <li><a routerLink="/construction">a</a></li>
        <li><a routerLink="/construction">b</a></li>
        <li><a routerLink="/construction">c</a></li>
        <li><a routerLink="/construction">d</a></li>
        <li><a routerLink="/construction">e</a></li>
        <li><a routerLink="/construction">f</a></li>
    </ul>
    <ul id="colonna5">
        <li><a routerLink="/construction">Guide</a></li>
        <li><a routerLink="/construction">Condizioni d'uso</a></li>
        <li><a routerLink="/construction">Condizioni di vendita</a></li>
        <li><a routerLink="/construction">Info Legali e Societarie</a></li>
        <li><a routerLink="/construction">Informativa sulla privacy e sui cookie</a></li>
        <li><a routerLink="/construction">Impostazioni dei cookie</a></li>
    </ul>

</footer>
