* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-wrap {
    flex: 1;
}

#logo {
    width: 60px;
}

#logo img {
    max-width: 100%;
    cursor: pointer;
}

.container {
    width: 500px;
    height: 500px;
    margin: 4em auto;
    border-radius: 50%;
    background-color: #679d1b;
    position: relative;
    color: #f4f2f2;
}

#thankyouBox {
    position: absolute;
    top: 32%;
    left: 12%;
}

#thankyouBox span, #thankyouBox a {
    color: #424242;
}

#thankyouBox a:hover {
    color: #fff;
}

#miniFooter {
    background-color: #252525;
    padding: 1em 0;
}

#miniFooter a {
    color: #ffffff;
    text-decoration: none;
    font-size: .8rem;
}

#miniFooter a:hover {
    color: #679d1b;
}

@media screen and (max-width: 768px) {
    #thankyouBox {
        top: 32%;
        left: 14%;
        color: #ffffff;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 290px;
        height: 290px;
        margin: 16.5em auto 0 auto;
        border-radius: 50%;
    }

    #thankyouBox {
        top: 29%;
        left: 12%;
        color: #ffffff;
        font-size: .8rem;
    }

    #thankyouBox h3, #thankyouBox p {
        font-size: 1rem;
    }

    #miniFooter a {
        font-size: .6rem;
    }
}
