<div class="headerAccount m-5 mb-0 d-flex justify-content-between">
  <div id="logo">
    <img src="./assets/images/logo.png" alt="Logo" routerLink="/home">
  </div>
    <a href="#" class="mt-3 me-2" (click)="logout()">Esci</a>
</div>
<div class="container mt-2">
  <h3 class="text-center mb-5">Pagamento</h3>
  <ul class="nav nav-tabs">
      <li class="nav-item actived">
        <a class="nav-link" [routerLink]="['shipping-form']">Dati spedizione</a>
      </li>
      <li class="nav-item actived">
        <a class="nav-link" [routerLink]="['payment-form']" [class.disabled]="!shippingFormCompleted">Dati pagamento</a>
      </li>
    </ul>
    
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
</div>

