.headerAccount a {
    color: #679d1b;
}

.headerAccount a:hover {
    color: #679d1bab;
}

#logo {
    width: 60px;
}

#logo img {
    max-width: 100%;
    cursor: pointer;
}

.actived a {
color: #373737;
}