#logo {
    width: 60px;
}

#logo img {
    max-width: 100%;
    cursor: pointer;
}

.headerAccount a {
    color: #679d1b;
}

.headerAccount a:hover {
    color: #679d1bab;
}


.container p, .container span {
    color: #808080;
}

.itemCart img {
    width: 60px;
}

.order-details ul {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #252525;
    padding: 1em;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: .8rem;
}

footer a:hover {
    color: #679d1b;
}

@media screen and (max-width: 768px) {
    .order-details {
        width: 100% !important;
    }
}