<div class="logoBis mt-3 ms-3"><a routerLink="/"><img src="../../../assets/images/logo.png" alt="Logo Labair"></a></div>
<div class="container my-5">
    <div class="w-50 mx-auto border-1 p-5">
        <ngb-toast 
          *ngIf="toastConfig" 
          [ngClass]="toastConfig.cssClass" 
          class="text-light w-100"
        > 
          {{ toastConfig.message }}
        </ngb-toast>
        <form [formGroup]="loginFrm" (ngSubmit)="login()">
            <h1 class="h3 mb-3 fw-normal">Accedi</h1>
            <div class="form-floating mb-3">
              <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <button [disabled]="loginFrm.invalid" class="btn btn-dark w-100 py-2" type="submit">Accedi</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
          </form>
          <p class="my-3">
            <a class="text-body-secondary" routerLink="/construction">Non hai un account? Registrati</a>
          </p>
    </div>
</div>