.card {
    border: none;
}

.card a {
    text-decoration: none;
    color: #2f2e2e;
}

.containerCards {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    .containerCards {
        width: 100%;
        margin: 0 auto !important;
        padding: 0 !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .containerCards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}