<div *ngIf="product">
    <div class="card h-100">
        <a [routerLink]="['/product', product.id]">
            <img [src]="product.immagine" class="card-img-top">

            <div class="card-body">
                <app-best-sellers [bestSeller]="product"></app-best-sellers>
                <h5 class="card-title mt-2">{{product.nome}}</h5>
                <p class="card-text">{{product.categoria}}</p>
                <p class="card-text">{{product.prezzo | localCurrency: "EUR"}}</p>
            </div>
        </a>
    </div>
</div>