.headerAccount a {
    color: #679d1b;
}

.headerAccount a:hover {
    color: #679d1bab;
}

.logo {
    width: 60px;
}

.logo img {
    max-width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .container {
        margin-top: 5em;
    }

    .container button {
        padding: 6px 12px;
        font-size: 1rem;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
    }
}